// Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

/*
    CUSTOM CLASSES
*/

// Icons sizing
.bx-xs {
    font-size: 0.25rem;
}
.bx-sm {
    font-size: 0.5rem;
}
.bx-md {
    font-size: 1.5rem;
}
.bx-lg {
    font-size: 2rem;
}

// Alerts
.alerts-container {
    top: 80px;
    left: 50%;

    transform: translateX(-50%);

    @extend .position-absolute;
    @extend .z-3;
}

// Widths
.mw-form {
    max-width: 500px;
}
