// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap";

/*
    CUSTOM CLASSES
*/

// Icons sizing
.bx-xs {
    font-size: 0.25rem;
}
.bx-sm {
    font-size: 0.5rem;
}
.bx-md {
    font-size: 1.5rem;
}
.bx-lg {
    font-size: 2rem;
}

// Alerts
.alerts-container {
    top: 80px;
    left: 50%;

    transform: translateX(-50%);

    @extend .position-fixed;
    @extend .z-3;
}

// Widths
.mw-form {
    max-width: 500px;
}

// Admin
@media (min-width: 992px) {
    .admin-editor {
        min-width: 700px;
    }
}
@media (min-width: 1200px) {
    .admin-editor {
        min-width: 900px;
    }
}

.admin-table-cell-line-limit {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Admin sidebar
@media (min-width: 768px) {
    .admin-sidebar {
        min-width: 240px;
    }
}

// Editorjs
.editor-code-runner-header:empty::before,
.editor-code-block-header:empty::before,
.editor-exercise-header:empty::before,
.editor-quiz-header:empty::before {
    content: "Zadajte nadpis...";
    color: #aaa;
    pointer-events: none;
    user-select: none;
}

.editor-code-runner-description:empty::before,
.editor-code-block-description:empty::before,
.editor-exercise-description:empty::before {
    content: "Zadajte popis...";
    color: #aaa;
    pointer-events: none;
    user-select: none;
}

.editor-quiz-choice-question:empty::before,
.editor-quiz-dnd-question:empty::before {
    content: "Zadajte otázku...";
    color: #aaa;
    pointer-events: none;
    user-select: none;
}

.editor-quiz-choice-explanation:empty::before,
.editor-quiz-dnd-explanation:empty::before {
    content: "Zadajte vysvetlenie...";
    color: #aaa;
    pointer-events: none;
    user-select: none;
}

.editor-exercise-assignment:empty::before {
    content: "Zadajte zadanie...";
    color: #fff;
    pointer-events: none;
    user-select: none;
}

.editor-editable {
    word-break: break-word;
    overflow-wrap: break-word;
    // white-space: pre-wrap;
}

.codex-editor {
    z-index: 0;
}

.ce-delimiter-line hr {
    @extend .mx-auto;
    color: #000 !important;
    opacity: 0.75 !important;
}

.lecture-image {
    width: 100%;
}

@media (min-width: 768px) {
    .lecture-image {
        width: 50%;
    }
}

// User progress
.user-progress {
    width: 100%;
}

@media (min-width: 375px) {
    .user-progress {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .user-progress {
        width: 35%;
    }
}

// Lectures
.lecture-card {
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .lecture-card {
        width: 24rem;
    }
}

#lecture-side-button-container {
    position: fixed;
    left: 0;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    z-index: 1030;
}

#lecture-side-button-container .btn {
    min-width: 120px;
}

.lecture-warning {
    width: 100%;
}

@media (min-width: 768px) {
    .lecture-warning {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .lecture-warning {
        width: 50%;
    }
}

// Index
.index-hero-section {
    height: 100svh;
}

.hero-divider {
    overflow: hidden;
    position: relative;
}
.hero-divider::before {
    content: "";
    font-family: "shape divider from ShapeDividers.com";
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 149px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1007.63 112.41"><path fill="%2374c1fc" d="M1007.63 112.4v-11.5c-167.94-33.54-503.8 0-503.8-100.9 0 100.9-335.9 67.36-503.83 100.9v11.5z"/></svg>');
}

@media (min-width: 2100px) {
    .hero-divider::before {
        background-size: 100% calc(2vw + 149px);
    }
}
